.form {
  min-width: 600px;
  margin-top: 50px;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.form > div {
  margin-bottom: 20px;
  max-width: 95%;
}

.form label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 5px;
  color: #1f1f1f;
}

.form input:focus {
  outline: none;
  border: 2px solid #0085ff;
}

.form button[type="submit"] {
  display: block;
  background: #0085ff;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  transition: 0.3s ease all;
}

.form button[type="submit"]:hover {
  background: #0051ff;
}

.form input[type="radio"] {
  width: auto;
}
