.board{
    width: 1200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
input {
    width: 20%;
    padding: 10px;
    border: gray 1px solid;
    border-radius: 15px;
    font-size: medium;
}
table {
    width: 60%;
    /* border-collapse: separate; */
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados */
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #b9babb;
}